In [2]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1111",
    database="testdb")
cursor = db.cursor()

In [3]:
show_database_query = "SHOW DATABASES"
cursor.execute(show_database_query)
result = cursor.fetchall()
for database in result:
    print(database[0])

classicmodels
hr
information_schema
mysql
performance_schema
sakila
sys
testdb
world

In [4]:
try:
    cursor.execute("USE testdb")
    print("Connected to testdb")
except mysql.connector.Error as e:
    print(f"Cannot Connect to testdb {e}")

Connected to testdb

In [1]:
import mysql.connector
from typing import List, Tuple

try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        password="1111",
        database="testdb")

    cur = db.cursor()
    cur.execute("USE testdb")
    
    query = "SELECT * FROM `student`"
    cur.execute(query)
    student_table = cur.fetchall()
    for student in student_table:
        print(student)
except mysql.connector.Error as error:
    # Handle specific exceptions
    if error.errno == mysql.connector.errorcode.ER_ACCESS_DENIED_ERROR:
        print("Invalid credentials")
    elif error.errno == mysql.connector.errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(f"Error: {error}")

finally:
    # Close the cursor and connection
    cur.close()
    db.close()

(1, 'ahmed', 'Data scientist', 2)
(2, 'mohamed', 'accountant', 5)
(3, 'yassien', 'Real Estate', 2)
(4, 'ahmed', 'Data scientist', 2)
(5, 'mohamed', 'accountant', 5)
(6, 'yassien', 'Real Estate', 2)